{% extends "base.html" %}

{% block title %}Hitchhiker  - 缺陷管理平台jira{% endblock %}

{% block head %}
<meta name="viewport" content="width=device-width"/>
<script src="../../static/jquery-1.12.4.js"></script>
<!--<script src="../static/scripts/hubs.js"></script>-->

<script src="../../static/bootstrap-3.3.7-dist/dist/js/bootstrap.js"></script>
<link href="../../static/bootstrap-3.3.7-dist/dist/css/bootstrap.css" rel="stylesheet"/>

<script src="../../static/bootstrap-table-develop/dist/bootstrap-table.js"></script>
<link href="../../static/bootstrap-table-develop/dist/bootstrap-table.css" rel="stylesheet"/>

{% endblock %}
{% block content %}
<div class="panel-body" style="padding-bottom:0px;">
    <h1 style="text-align:center">JIRA 缺陷管理平台</h1>
    <div class="main-container" id="main" style="height:100%">
        <iframe id='fra_web' src="http://192.168.0.24:8080/secure/Dashboard.jspa" width="100%" height="600"></iframe>
    </div>
</div>
    <script>
        $('#fra_web').attr(src,gethost(jiraport))
    </script>
{% endblock %}